@{
    ViewData["Title"] = "Home Page";
}
<h1>All Machines</h1>

<div class="row">
    @foreach(Machine machine in Model)
    {
      <div class="col-md-4">
				<div class="card card-default">
					<p>@machine.name</p>
				</div>
      </div>
    }
</div>




@* 
@foreach(Machine machine in Model)
{
<ol>
    <ul>
        <li>Machine Name: @machine.name</li>
        <li>Manufacturer: @machine.manufacturer</li>
        <li>Year: @machine.year</li>
        <li>Website: @machine.ipdb_link</li>
    </ul>
    <br>

</ol>

} *@