@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
    <img class="img-fluid card-img" src="https://i.imgur.com/lJPf7Ea.png">
    <div class="card-img-overlay d-flex">
      <div class="my-auto mx-auto text-center">
        <h1 class="card-title text-light">All Locations</h1>
      </div>
    </div>
  </div>

<div class="card">
  <div id="accordion">
    <div class="card">
      <div class="card-header text-center" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Beaverton 
          </button>
        </h5> 
      </div>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Beaverton)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", "Locations", new { id = location.id}, new { @class = "link"} )</p>
          </div>
          }
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header text-center" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Clackamas 
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <div class="row">
            @foreach (Location location in ViewBag.Clackamas)
            {
            <div class="col-md-6 text-center">
              <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
            </div>
            }
          </div>
        </div>
      </div>

    <div class="card">
      <div class="card-header text-center" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
          Downtown
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Downtown)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
          Gresham
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Gresham)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingFive">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Hillsboro 
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Hillsboro)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingSix">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          Milwaukie
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Milwaukie)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingSeven">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            North
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.North)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingEight">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
            Northeast
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Northeast)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingNine">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
            Northwest 
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Northwest)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingTen">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            Southeast 
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Southeast)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingEleven">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
            Southwest
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Southwest)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingTwelve">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
            Tigard 
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Tigard)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingThirteen">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
            Vancouver
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Vancouver)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-center" id="headingFourteen">
        <h5 class="mb-0">
          <button class="btn btn-link link" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">
            Wilsonville
          </button>
        </h5>
      </div>
    </div>

    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
      <div class="card-body">
        <div class="row">
          @foreach (Location location in ViewBag.Wilsonville)
          {
          <div class="col-md-6 text-center">
            <p>@Html.ActionLink($"{location.name}", "Details", new { id = location.id}, new { @class = "link"})</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>


