

@using PinTrackerMVC.Models

<h2>LOCATION RESULTS:</h2>

@foreach (Location location in Model)
{
  <h3>@location.name</h3>
  <h4>Address:</h4>
  <p>@location.street, &nbsp; @location.city, &nbsp; @location.state, &nbsp; @location.zip </p>
  <p>Phone: @location.phone</p>
  
  @foreach (MachineDetails details in location.MachineDetails)
  {
    <p>@details.Name</p>
  }
  <hr>
}