@using PinTrackerMVC.Models

<h2>LOCATION RESULTS</h2>


<div class="card">
  <div class="card-body">
@foreach (Location location in Model)
{
  <h3 class="card-body">@location.name <br>
    @location.street, @location.city, @location.state @location.zip <br>
    Ph: @location.phone </h3>
  
  @foreach (MachineDetails details in location.MachineDetails)
  {
    <ul>
      <li>@details.Name</li>
    </ul>
  }
}
  </div>
</div>